footer
	.inner
		.wrap
			.phone
				a(href="tel:+375 29 611 39 03") +375 29 611 39 03
				span.mail mail@transferpro.by
			.social
				a(href="viber://chat/?number=%2B375296113903")
					img(src="/assets/img/viber.svg")
				a(href="https://api.whatsapp.com/send?phone=375296113903")
					img(src="/assets/img/wa.svg")
				a(href="https://telegram.im/@TransferPRO")
					img(src="/assets/img/telegram.svg")
		.ip
			p ИП Микулович А.О.
			p УНП 192716554
.modal
	.modal-content
		span.close &times;
		form
			p Оставьте свой номер телефона и мы вам перезвоним
			input(type="text" placeholder="+375 29 xxx xx xx" required)
			input(type="submit" value="Отправить")