header
	.inner
		.logo tranferpro.by
		.right
			button Заказать звонок
			.phone
					a(href="tel:+375296113900") +375 29 611 39 00
					span.mail mail@transferpro.by
			.social
				a(href="viber://chat/?number=%2B375296113900")
					img(src="/assets/img/viber.svg")
				a(href="https://api.whatsapp.com/send?phone=375296113900")
					img(src="/assets/img/wa.svg")
				a(href="https://telegram.im/@TransferPRO")
					img(src="/assets/img/telegram.svg")