extends ../layout/main

block variables
	- var title = 'Трансфер до границы с Россией';
	- var description = 'Мы оказываем услуги трансфера до границы Беларуси до России и других пограничных стран.';
	- var pageClass = 'index-page';

block content
	.transfers
		.item
			h2 Индивидуальный трансфер к границе с Россией
			p Национальный аэропорт Минск 2 - Красная Горка пункт пропуска на границе Беларуси и России)
			ul
				li Эконом - 245 BYN (7 000 RUB);
				li Комфорт - 280 BYN (8 000 RUB);
				li Минивен - 350 BYN (10 000 RUB);
				li Бизнес - 525 BYN (15 000 RUB);
		.item
			h2 Индивидуальный трансфер Минск - Москва 		
			p Национальный аэропорт Минск 2 – Москва или Москва - Национальный аэропорт Минск 2
			ul
				li Эконом - 725 BYN (21 000 RUB);
				li Комфорт - 830 BYN (24 000 RUB);
				li Минивен - 970 BYN (28 000 RUB);
				li Бизнес - 1210 BYN (35 000 RUB);
	.park.lazyload(data-bg="/assets/img/bg2.jpg")
			.list
				h2 Наш автопарк	
				.item
					.desc
						h3 класс эконом
						span.seats Кол-во мест: 3
					img.lazyload(data-src="/assets/img/rapid.png")
				.item
					.desc
						h3 класс комфорт
						span.seats Кол-во мест: 3
					img.lazyload(data-src="/assets/img/octavia.png")
				.item
					.desc
						h3 класс минивэн
						span.seats Кол-во мест: 7-8
					img.lazyload(data-src="/assets/img/t5.png")
				.item
					.desc
						h3 класс бизнес
						span.seats Кол-во мест: 3
					img.lazyload(data-src="/assets/img/camry.png")
	.more.lazyload(data-bg="/assets/img/bg3.jpg")
		.inner
			h2 Подробнее о поездке
			p Встречаем пассажиров в аэропорту с табличкой. Все рейсы отслеживаем онлайн. Наши водители вежливые и пунктуальные, а автомобили современные и комфортные для длительных поездок.
			p Чтобы узнать точную стоимость поездки и сделать заказ, напишите нам в мессенджеры или позвоните +375 29 611 39 03 <a href="viber://chat/?number=%2B375296113903"><img src="/assets/img/viber.svg"></a><a href="https://api.whatsapp.com/send?phone=375296113903"><img src="/assets/img/wa.svg"></a><a href="https://telegram.im/@Vi_Ni_L"><img src="/assets/img/telegram.svg"></a>Мы всегда на связи и оперативно отвечаем на сообщения и звонки.
			p Оговоренная с Вами заранее стоимость поездки остается неизменной до её окончания.
			p Предоставляем все необходимые отчетные документы (квитанции, кассовые чеки, иные документы строгой отчетности).
			p Сотрудничаем с надежными партнерами в России, поэтому предлагаем Вам воспользоваться нашими услугами и за пределами границы Беларуси.
			p При необходимости организуем трансфер к границе с Украиной, Литвой, Латвией, Польшей.

